# Creating test and train datasets

In [1]:
!unzip Archive.zip

Archive:  Archive.zip
  inflating: original.txt
  inflating: transliterated.txt

In [2]:
import pandas as pd
import re

original = open("original.txt").read()
transliterated = open("transliterated.txt").read()

words = pd.DataFrame({
    'orig': re.split(r'\s+', original),
    'trans': re.split(r'\s+', transliterated)
})
words.head()

      orig          trans
0     ቀዝቃዛ       kazeqaza
1       ውኃ           weha
2    የዛለችን   yazalatchene
3      ነፍስ          nefsi
4  እንደሚያረካ  inidamiyaraka

In [0]:
words.orig = words.orig.str.join(' ')
words.trans = words.trans.str.join(' ')

In [4]:
words.head(10)

            orig                      trans
0        ቀ ዝ ቃ ዛ            k a z e q a z a
1            ው ኃ                    w e h a
2      የ ዛ ለ ች ን    y a z a l a t c h e n e
3          ነ ፍ ስ                  n e f s i
4  እ ን ደ ሚ ያ ረ ካ  i n i d a m i y a r a k a
5      ሁ ሉ ከ ሩ ቅ        h u l u k e r u q e
6          አ ገ ር                    a g a r
7          የ መ ጣ                j a m e t a
8        መ ል ካ ም              m e l e k a m
9          ወ ሬ ም                  w e r e m

In [9]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(words, test_size=5000)

print("Training on", train.shape)
print("Testing on", test.shape)

!mkdir -p data

# Save as training
# Can't use .to_csv because of quotins
with open('data/src-train.txt', 'w') as f:
    f.write('\n'.join(train.trans))
with open('data/tgt-train.txt', 'w') as f:
    f.write('\n'.join(train.orig))

with open('data/src-val.txt', 'w') as f:
    f.write('\n'.join(test.trans))
with open('data/tgt-val.txt', 'w') as f:
    f.write('\n'.join(test.orig))

Training on (1530622, 2)
Testing on (5000, 2)

In [11]:
!head -n 5 data/tgt-val.txt

ሕ ዝ ቡ
ዓ ለ ም
ይ ህ ን
እ ን ድ ን ጠ ላ
እ ን ደ ሚ ያ ሳ ድ ር

In [10]:
train.head()

                    orig                              trans
918459             ወ ይ ም                          w a y e m
184976               ጋ ር                            g a r i
900012               ሰ ፊ                            s e f i
1109537            ጋ ዜ ጣ                      g a z y e t a
1527337  አ ን ደ በ ታ ች ን ን  ' a n i d e b a t a t c h e n n e

# Data setup

Following quickstart instructions from https://github.com/OpenNMT/OpenNMT-py#quickstart.

## Training

I'm just using the terminal commands because the Python bindings were just Too Much Work.

In [12]:
!pip install OpenNMT-py

Collecting OpenNMT-py
  Downloading https://files.pythonhosted.org/packages/7e/c7/b3d9bf9a6a681b10c00aa897650f79d4e7ad8a80317c5cddb6a3ef43540c/OpenNMT_py-1.1.1-py3-none-any.whl (189kB)
     |████████████████████████████████| 194kB 2.6MB/s
Collecting tqdm~=4.30.0
  Downloading https://files.pythonhosted.org/packages/76/4c/103a4d3415dafc1ddfe6a6624333971756e2d3dd8c6dc0f520152855f040/tqdm-4.30.0-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 5.0MB/s
Collecting configargparse
  Downloading https://files.pythonhosted.org/packages/bb/79/3045743bb26ca2e44a1d317c37395462bfed82dbbd38e69a3280b63696ce/ConfigArgParse-1.2.3.tar.gz (42kB)
     |████████████████████████████████| 51kB 5.4MB/s
Requirement already satisfied: flask in /usr/local/lib/python3.6/dist-packages (from OpenNMT-py) (1.1.2)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from OpenNMT-py) (0.16.0)
Requirement already satisfied: tensorboard>=1.14 in /usr/local/lib/python3.6/dist-packages (from OpenNMT-py) (2.2.1)
Collecting pyonmttok==1.*; platform_system == "Linux"
  Downloading https://files.pythonhosted.org/packages/08/20/3c57198ffe690b580fbf23d33d5000eb411862e60e4bb6853b61dc989187/pyonmttok-1.18.3-cp36-cp36m-manylinux1_x86_64.whl (2.2MB)
     |████████████████████████████████| 2.2MB 7.2MB/s
Collecting torchtext==0.4.0
  Downloading https://files.pythonhosted.org/packages/43/94/929d6bd236a4fb5c435982a7eb9730b78dcd8659acf328fd2ef9de85f483/torchtext-0.4.0-py3-none-any.whl (53kB)
     |████████████████████████████████| 61kB 7.9MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from OpenNMT-py) (1.12.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from OpenNMT-py) (3.13)
Requirement already satisfied: torch>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from OpenNMT-py) (1.5.0+cu101)
Collecting waitress
  Downloading https://files.pythonhosted.org/packages/a8/ca/ede3ed29723ca944f6e77bd1d7b38c271dd801c7d6a11ab6037597e4fd5b/waitress-1.4.3-py2.py3-none-any.whl (148kB)
     |████████████████████████████████| 153kB 21.0MB/s
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from flask->OpenNMT-py) (1.1.0)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from flask->OpenNMT-py) (1.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from flask->OpenNMT-py) (2.11.2)
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from flask->OpenNMT-py) (7.1.2)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard>=1.14->OpenNMT-py) (1.6.0.post3)
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorboard>=1.14->OpenNMT-py) (0.34.2)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard>=1.14->OpenNMT-py) (1.7.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard>=1.14->OpenNMT-py) (0.4.1)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.6/dist-packages (from tensorboard>=1.14->OpenNMT-py) (0.9.0)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard>=1.14->OpenNMT-py) (46.1.3)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard>=1.14->OpenNMT-py) (3.10.0)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard>=1.14->OpenNMT-py) (2.23.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard>=1.14->OpenNMT-py) (3.2.1)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard>=1.14->OpenNMT-py) (1.28.1)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard>=1.14->OpenNMT-py) (1.18.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10.1->flask->OpenNMT-py) (1.1.1)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard>=1.14->OpenNMT-py) (3.1.1)
Requirement already satisfied: rsa<4.1,>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard>=1.14->OpenNMT-py) (4.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard>=1.14->OpenNMT-py) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard>=1.14->OpenNMT-py) (1.3.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard>=1.14->OpenNMT-py) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard>=1.14->OpenNMT-py) (2020.4.5.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard>=1.14->OpenNMT-py) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard>=1.14->OpenNMT-py) (3.0.4)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<4.1,>=3.1.4->google-auth<2,>=1.6.3->tensorboard>=1.14->OpenNMT-py) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard>=1.14->OpenNMT-py) (3.1.0)
Building wheels for collected packages: configargparse
  Building wheel for configargparse (setup.py) ... done
  Created wheel for configargparse: filename=ConfigArgParse-1.2.3-cp36-none-any.whl size=19328 sha256=edd2ce82a272002c2cd6303089a0d432389728d873bf907ddce047f18a6fd466
  Stored in directory: /root/.cache/pip/wheels/bd/d6/53/034032da9498bda2385cd50a51a289e88090b5da2d592b1fdf
Successfully built configargparse
ERROR: spacy 2.2.4 has requirement tqdm<5.0.0,>=4.38.0, but you'll have tqdm 4.30.0 which is incompatible.
Installing collected packages: tqdm, configargparse, pyonmttok, torchtext, waitress, OpenNMT-py
  Found existing installation: tqdm 4.38.0
    Uninstalling tqdm-4.38.0:
      Successfully uninstalled tqdm-4.38.0
  Found existing installation: torchtext 0.3.1
    Uninstalling torchtext-0.3.1:
      Successfully uninstalled torchtext-0.3.1
Successfully installed OpenNMT-py-1.1.1 configargparse-1.2.3 pyonmttok-1.18.3 torchtext-0.4.0 tqdm-4.30.0 waitress-1.4.3

## Preprocess

In [13]:
!onmt_preprocess \
    -train_src data/src-train.txt \
    -train_tgt data/tgt-train.txt \
    -valid_src data/src-val.txt \
    -valid_tgt data/tgt-val.txt \
    -save_data data/demo \
    -overwrite

[2020-05-08 04:34:11,153 INFO] Extracting features...
[2020-05-08 04:34:11,154 INFO]  * number of source features: 0.
[2020-05-08 04:34:11,154 INFO]  * number of target features: 0.
[2020-05-08 04:34:11,154 INFO] Building `Fields` object...
[2020-05-08 04:34:11,154 INFO] Building & saving training data...
[2020-05-08 04:34:12,292 INFO] Building shard 0.
[2020-05-08 04:34:45,961 INFO]  * saving 0th train data shard to data/demo.train.0.pt.
[2020-05-08 04:35:05,473 INFO] Building shard 1.
[2020-05-08 04:35:23,014 INFO]  * saving 1th train data shard to data/demo.train.1.pt.
[2020-05-08 04:35:33,078 INFO]  * tgt vocab size: 426.
[2020-05-08 04:35:33,078 INFO]  * src vocab size: 65.
[2020-05-08 04:35:33,115 INFO] Building & saving validation data...
[2020-05-08 04:35:33,141 INFO] Building shard 0.
[2020-05-08 04:35:33,218 INFO]  * saving 0th valid data shard to data/demo.valid.0.pt.

## Train

In [0]:
# Change to false to get GPU power on Colab
if False:
    !onmt_train \
        -data data/demo \
        -save_model demo-model \
        --valid_steps 50 \
        --train_steps 2 \
        --early_stopping 5
else:
    !CUDA_VISIBLE_DEVICES=0 \
        onmt_train \
        -world_size 1 \
        -gpu_ranks 0 \
        -data data/demo \
        -save_model demo-model \
        --valid_steps 3000 \
        --train_steps 50000 \
        --early_stopping 3

[2020-05-08 04:57:25,932 INFO]  * src vocab size = 65
[2020-05-08 04:57:25,932 INFO]  * tgt vocab size = 426
[2020-05-08 04:57:25,932 INFO] Building model...
[2020-05-08 04:57:29,101 INFO] NMTModel(
  (encoder): RNNEncoder(
    (embeddings): Embeddings(
      (make_embedding): Sequential(
        (emb_luts): Elementwise(
          (0): Embedding(65, 500, padding_idx=1)
        )
      )
    )
    (rnn): LSTM(500, 500, num_layers=2, dropout=0.3)
  )
  (decoder): InputFeedRNNDecoder(
    (embeddings): Embeddings(
      (make_embedding): Sequential(
        (emb_luts): Elementwise(
          (0): Embedding(426, 500, padding_idx=1)
        )
      )
    )
    (dropout): Dropout(p=0.3, inplace=False)
    (rnn): StackedLSTM(
      (dropout): Dropout(p=0.3, inplace=False)
      (layers): ModuleList(
        (0): LSTMCell(1000, 500)
        (1): LSTMCell(500, 500)
      )
    )
    (attn): GlobalAttention(
      (linear_in): Linear(in_features=500, out_features=500, bias=False)
      (linear_out): Linear(in_features=1000, out_features=500, bias=False)
    )
  )
  (generator): Sequential(
    (0): Linear(in_features=500, out_features=426, bias=True)
    (1): Cast()
    (2): LogSoftmax()
  )
)
[2020-05-08 04:57:29,102 INFO] encoder: 4040500
[2020-05-08 04:57:29,102 INFO] decoder: 6184426
[2020-05-08 04:57:29,102 INFO] * number of parameters: 10224926
[2020-05-08 04:57:29,103 INFO] Starting training on GPU: [0]
[2020-05-08 04:57:29,103 INFO] Start training loop and validate every 3000 steps...
[2020-05-08 04:57:29,104 INFO] Loading dataset from data/demo.train.0.pt
[2020-05-08 04:57:36,520 INFO] number of examples: 999979
[2020-05-08 04:57:41,000 INFO] Step 50/50000; acc:  10.82; ppl: 2606.23; xent: 7.87; lr: 1.00000; 2050/1338 tok/s;     12 sec
[2020-05-08 04:57:42,294 INFO] Step 100/50000; acc:  11.89; ppl: 756.42; xent: 6.63; lr: 1.00000; 21187/13620 tok/s;     13 sec
[2020-05-08 04:57:43,446 INFO] Step 150/50000; acc:  17.45; ppl: 133.79; xent: 4.90; lr: 1.00000; 22332/14388 tok/s;     14 sec
[2020-05-08 04:57:44,689 INFO] Step 200/50000; acc:  21.38; ppl: 84.21; xent: 4.43; lr: 1.00000; 19111/12569 tok/s;     16 sec
[2020-05-08 04:57:45,962 INFO] Step 250/50000; acc:  22.70; ppl: 61.27; xent: 4.12; lr: 1.00000; 19714/12796 tok/s;     17 sec
[2020-05-08 04:57:47,054 INFO] Step 300/50000; acc:  27.01; ppl: 42.31; xent: 3.74; lr: 1.00000; 22269/14475 tok/s;     18 sec

# Testing it out

Testing the text below, you can see the "answer" on Google translate [right here](https://translate.google.com/#view=home&op=translate&sl=am&tl=en&text=%E1%8A%A5%E1%8A%94%E1%88%9D%E1%8D%A5%20%E1%8B%88%E1%8A%95%E1%8B%B5%E1%88%9E%E1%89%BD%20%E1%88%86%E1%8B%AD%E1%8D%A5%20%E1%8B%A8%E1%88%A5%E1%8C%8B%20%E1%8A%A5%E1%8A%95%E1%8B%B0%20%E1%88%98%E1%88%86%E1%8A%93%E1%89%BD%E1%88%81%E1%8D%A5%0A%E1%89%A0%E1%8A%AD%E1%88%AD%E1%88%B5%E1%89%B6%E1%88%B5%E1%88%9D%20%E1%88%95%E1%8D%83%E1%8A%93%E1%89%B5%20%E1%8A%A5%E1%8A%95%E1%8B%B0%20%E1%88%98%E1%88%86%E1%8A%93%E1%89%BD%E1%88%81%20%E1%8A%A5%E1%8A%95%E1%8C%82%0A%E1%88%98%E1%8A%95%E1%8D%88%E1%88%B3%E1%8B%8D%E1%8B%AB%E1%8A%95%20%E1%8A%A5%E1%8A%95%E1%8B%B0%20%E1%88%98%E1%88%86%E1%8A%93%E1%89%BD%E1%88%81%20%E1%88%8D%E1%8A%93%E1%8C%88%E1%88%AB%E1%89%BD%E1%88%81%0A%E1%8A%A0%E1%88%8D%E1%89%BB%E1%88%8D%E1%88%81%E1%88%9D%E1%8D%A2).

In [18]:
!head -n 1 original.txt

ቀዝቃዛ ውኃ የዛለችን ነፍስ እንደሚያረካ ሁሉከሩቅ አገር የመጣ መልካም ወሬም እንዲሁ ነው።

In [19]:
!head -n 1 transliterated.txt

kazeqaza weha yazalatchene nefsi inidamiyaraka hulukeruqe agar jameta melekam werem inedihu new.

In [0]:
import subprocess

# Pull the first 10 originals and transliterateds
originals = subprocess.run("head -n 1000 original.txt",
                            shell=True,
                            stdout=subprocess.PIPE).stdout.decode("utf-8").strip()
transliterated = subprocess.run("head -n 1000 transliterated.txt",
                            shell=True,
                            stdout=subprocess.PIPE).stdout.decode("utf-8").strip()

In [0]:
import re

orig_test = [' '.join(word) for word in re.split('\s+', originals)]
trans_test = [' '.join(word) for word in re.split('\s+', transliterated)]
with open("data/test.txt", 'w') as f:
    f.write('\n'.join(trans_test))

In [61]:
print(len(trans_test), trans_test[:5])
print(len(orig_test), orig_test[:5])

15417 ['k a z e q a z a', 'w e h a', 'y a z a l a t c h e n e', 'n e f s i', 'i n i d a m i y a r a k a']
15417 ['ቀ ዝ ቃ ዛ', 'ው ኃ', 'የ ዛ ለ ች ን', 'ነ ፍ ስ', 'እ ን ደ ሚ ያ ረ ካ']

**You'll need to change the model name in `onmt_translate` below.** It's probably the most recently changed model file, so at the top of this list:

In [62]:
model_name = subprocess.run("ls -t *model* | head -n 1",
                            shell=True,
                            stdout=subprocess.PIPE).stdout.decode("utf-8").strip()
print("Using model", model_name)

Using model demo-model_step_10000.pt

In [63]:
!onmt_translate \
    -model {model_name} \
    -src data/test.txt \
    -output data/pred.txt -replace_unk

[2020-05-08 04:54:09,626 INFO] Translating shard 0.
/pytorch/aten/src/ATen/native/BinaryOps.cpp:66: UserWarning: Integer division of tensors using div or / is deprecated, and in a future release div will perform true division as in Python 3. Use true_divide or floor_divide (// in Python) instead.
PRED AVG SCORE: -0.0619, PRED PPL: 1.0638
[2020-05-08 04:55:40,394 INFO] Translating shard 1.
PRED AVG SCORE: -0.0630, PRED PPL: 1.0650

In [65]:
results = open("data/pred.txt").read().splitlines()
test_results = pd.DataFrame({
    'result': results,
    'original': orig_test,
    'transliterated': trans_test
})
print((test_results.result == test_results.original).value_counts(normalize=True))
test_results

True     0.824869
False    0.175131
dtype: float64

                result         original                   transliterated
0              ካ ዘ ቀ ዘ          ቀ ዝ ቃ ዛ                  k a z e q a z a
1                  ው ኃ              ው ኃ                          w e h a
2            የ ዘ ላ ች ን        የ ዛ ለ ች ን          y a z a l a t c h e n e
3                ነ ፍ ስ            ነ ፍ ስ                        n e f s i
4        እ ን ደ ሚ ያ ረ ካ    እ ን ደ ሚ ያ ረ ካ        i n i d a m i y a r a k a
...                ...              ...                              ...
15412      ወ ገ ና ው ነ ት      ወ ገ ና ዊ ነ ት          w e g e n a ' w i n a t
15413  እ ን ደ ሚ ያ ጠ ቀ ው  እ ን ደ ሚ ያ ጠ ቃ ው  ` e n e d a m i j a t e q a w e
15414    እ ን ደ ሚ ጠ ቁ ም    እ ን ደ ሚ ጠ ቁ ም          i n i d a m i t a k u m
15415          ም ን ጮ ቹ          ም ን ጮ ቹ            m e n e c h o t c h u
15416  አ ስ ረ ድ ተ ዋ ል ።  አ ስ ረ ድ ተ ዋ ል ።    ' a s e r e d e t e w a l e .

[15417 rows x 3 columns]